@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Pixel';
    src: url('/font/pixel.ttf') format('embedded-opentype'),
        url('/font/pixel.ttf') format('woff2'),
        url('/font/pixel.ttf') format('woff'),
        url('/font/pixel.ttf') format('truetype'),
        url('/font/pixel.ttf') format('svg');
}

html,
#app {
    @apply h-full bg-neutral-300;
    font-family: 'Pixel';
}

body {
    @apply h-full;
}

